/* Configurações gerais 
___________________________________________________________________________________________________________*/
body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(210, 210, 192) url(../img/fundo.png) ;
}

main {
    width: 910px;
    margin: 0 auto;
    background: rgb(232, 232, 217);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Configurações header 
___________________________________________________________________________________________________________*/
/* Configurações da tag h1 que está dentro do id logo*/
#logo h1 {
    width: 900px;
    height: 388px;
    margin: 0 auto;
    background: url(../img/capa.png) no-repeat;
    text-indent: -3000px;
}

/* Configurações da tag nav que está dentro da tag header */
nav {
    width: 900px;
    background: rgb(197, 197, 178);
    margin: 0 auto;
}

/* Configurações da tag ul que está dentro da tag nav */
nav ul {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 900px;
}

/* Configurações da tag li que está dentro da tag ul */
nav ul li {
    float: left;
    width: 300px;
    text-align: center;
}

/* Configurações da tag a que está dentro da tag li*/
nav ul li a:link,
nav ul li a:active,
nav ul li a:visited {
    display: block;
    padding: 10px 0px;
    color: rgb(75, 86, 106);
    font-weight: bold;
}
nav ul li a:hover {
    color: rgb(197, 197, 178);
    background: rgb(75, 86, 106);
}

/* Configurações conteiner 
___________________________________________________________________________________________________________*/
/* Configurações do id container que está dentro da tag main */
#container {
    padding: 0px 10px 5px 10px;
}

/* Configurações da tag h2 que está dentro do id container */
#container h2 {
    color: rgb(130, 130, 113);
}

/* Configurações da tag p que está dentro do id container */
#container p {
    text-align: justify;
}

/* Configurações da class imagem que está dentro do id container */
#container .imagem {
    border: 5px solid rgb(130, 130, 113);
}

/* Configurações da tag span que esta dentro do id container */
#container span {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

/* Configurações footer 
___________________________________________________________________________________________________________*/
/* Configurações da tag footer que está dentro da tag main */
footer {
    text-align: center;
    background: rgb(197, 197, 178);
    padding: 10px;
}

/* Configurações da tag h3 e h4 que estão dentro da tag footer */
footer h3 {
    padding: 0;
    margin: 0;
    font-size: 1em;
}